@page
@model web_test.Pages.IndexModel

<h2>Введите данные</h2>
<form method="post">
    <p>
        <label>Имя:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Возраст:</label><br />
        <input type="number" name="age" />
    </p>
    <p>
        <label>Ориентация:</label><br />
        <input type="checkbox" name="orientacia" />
    </p>
    <input type="submit" value="Отправить" />
</form>
@if (Request.Method == "POST")
{
    <h3>Полученные данные</h3>
    <p>Name: @Model.Person?.Name</p>
    <p>Age: @Model.Person?.Age</p>
    <p>Ориентация: @Model.Person?.Orientacia</p>
}

