/* Пример: кастомная анимация для кнопок */
.btn-success,
.btn-secondary {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .btn-success:hover {
        background-color: #28a745; /* Измените на более тёмный/светлый оттенок */
        box-shadow: 0 0 8px rgba(40, 167, 69, 0.3);
    }

    .btn-secondary:hover {
        background-color: #6c757d;
        box-shadow: 0 0 8px rgba(108, 117, 125, 0.3);
    }

.main {
    height: 100vh;
    background-color: green;
}
